.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.high{
    padding: 3px;
    background-color: red;
    color:white;
}

span.medium{
    padding: 3px;
    background-color: yellow;
}

span.low{
    padding: 3px;
    background-color: green;
    color:white;
}

